<div class="footer text-center margin-top margin-bottom">
    <a href="#/about">Ottercamp</a> • 
    <a href="http://blog.ottercamp.com" target="_blank">Blog</a> • 
    <a href="#/about/press">{{'label_press'|trad}}</a> • 
    <a href="#/about/team">{{'label_team'|trad}}</a> • 
    <a href="#/about/contact">{{'label_contact'|trad}}</a> • 
    <a href="#/about/policies">{{'label_policies'|trad}}</a> • 
    <a href="#/about/privacy">{{'label_privacy'|trad}}</a> • 
    <a href="#/about/help">{{'label_help'|trad}}</a> • 
    
    <div class="btn-group" style="vertical-align: baseline;line-height: normal">
	  <a class=" dropdown-toggle" data-toggle="dropdown" href="#">
	    {{'label_social'|trad}}
	    <span class="caret up" style="vertical-align: middle;"></span>
	  </a>
	  <ul class="dropdown-menu dropup-menu text-left" style="min-width: auto;">
	    <li><a href="http://www.facebook.com/ottercamp" target="_blank">Facebook</a></li>
	    <li><a href="http://www.twitter.com/ottercamp" target="_blank">Twitter</a></li>
	    <li><a href="http://plus.google.com/115729621882323678117" target="_blank">Google+</a></li>
	    <li><a href="http://www.github.com/ottercamp" target="_blank">Github</a></li>
	  </ul>
	</div>
</div>