<div class="span9 block margin-top">
	<div class="header nav-header padding">{{'label_credits'|trad}}</div>
	
	<div class="padding margin-top text-justify">
		Pour vous procurer la meilleure experience possible, Ottercamp utilise de nombreuses technologies. <br />
		
		<br />
		
		Toutes nos applications sont hebergées par <a href="https://www.heroku.com/" target="_blank">Heroku</a> et nos images par <a href="http://aws.amazon.com/fr/s3/" target="_blank">Amazon S3</a>.
		Notre API a été développée en Java avec l'excellent <a href="http://www.playframework.com/" target="_blank">Play Framework</a> et nous enregistrons nos données grâce à <a href="http://www.mongodb.org" target="_blank">MongoDB</a>.
		Notre site web utilise <a href="http://angularjs.org/" target="_blank">AngularJS</a> et <a href="http://jquery.com/" target="_blank">JQuery</a> pour la partie client, <a href="http://twitter.github.io/bootstrap/" target="_blank">Twitter Bootstrap</a> et <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a> pour le CSS et les icônes, ainsi que <a href="http://ellislab.com/codeigniter" target="_blank">CodeIgniter</a> pour la partie serveur.
		Pour l'affichage de nos superbes cartes nous faisons confiance à <a href="http://mapbox.com/" target="_blank">MapBox</a> et <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a>, et nous servons de <a href="http://www.geonames.org/" target="_blank">Geonames</a> et <a href="https://developers.google.com/maps/documentation/geocoding/?hl=fr" target="_blank">Google Geocoding</a> pour les adresses.
	</div>
</div>