<div class="span9 block margin-top">
	<div class="header nav-header padding">{{'label_help'|trad}}</div>
	
	<div class="padding margin-top">
		<ul class="nav nav-tabs nav-stacked">
		  	<li><a href="#/about/help#general">Généralités</a></li>
          	<li><a href="#/about/help#account">Mon compte</a></li>
          	<li><a href="#/about/help#organizer">Organisateur</a></li>
          	<li><a href="#/about/help#participant">Participant</a></li>
          	<li><a href="#/about/help#security">Sécurité</a></li>
		</ul>

		<hr />
		
		<div id="general">
			<h3>Généralités</h3>
			
			<div class="margin-bottom padding-top">
				<h4>Est-ce qu’Ottercamp est légal, et puis-je gagner de l'argent avec ?</h4>
				<p class="text-justify">
					Il est tout à fait légal d'organiser des activités avec d'autres personnes, de les recevoir chez soi ou en exterieur et même d'être payé pour cela. De base, le système de paiement d'Ottercamp est prévu uniquement pour compenser les frais que vous pourriez engager afin d'assurer le bon déroulement de votre activité. Cependant, Si vous souhaitez dégager des bénéfices quant à l'organisation d'activités, ce qui est tout à fait possible, il peut exister certaines restrictions liées à la législation de votre pays. Il vous faudra donc vous en informer.
				</p>
			</div>

			<div class="margin-bottom padding-top">
				<h4>Est-ce payant d’utiliser Ottercamp ?</h4>
				<p class="text-justify">
					L’utilisation d’Ottercamp est totalement gratuite et vous permet de participer aux activités de votre choix. Cependant certains organisateurs, en fonction de l’activité qu’ils vous proposent, peuvent demander une participation financière de votre part. Cela leur permet de rembourser les frais engagés dans la planification de leur activité.
				</p>
			</div>

			<div class="margin-bottom padding-top">
				<h4>Comment les prix sont-ils déterminés ?</h4>
				<p class="text-justify">
					L’organisateur d’une activité fixe lui même le prix par participant qu’il estime le plus juste. Ce prix est censé lui garantir un remboursement intégral des frais engagés dans la planification de son activité. Ottercamp ajoute ensuite une commission sur ce prix.
					Les commissions fonctionnent par pallier de 5 euros et correspondent à 10% du maximum du pallier. Pour un évènement à 7€ par exemple, la commission sera de 10% de 10€ soit 1€. Le prix payé par le participant sera donc de 8€.
				</p>
			</div>
		</div>
		
		<hr />
		
		<div id="account">
			<h3>Mon compte</h3>
			
			<div class="margin-bottom padding-top">
				<h4>Je n'ai pas reçu l'email de confirmation de mon compte</h4>
				<p class="text-justify">
					Il se peut que cet email soit arrivé dans le dossier SPAM de votre messagerie. Si jamais il ne se trouvait pas la non plus, vous pouez demander l'envoi d'un nouvel email depuis Ottercamp.
				</p>
			</div>
			
			<div class="margin-bottom padding-top">
				<h4>Que se passe t'il si je ne confirme pas mon compte</h4>
				<p class="text-justify">
					Pour des mesures de sécurité, Ottercamp supprime définitivement tous les comptes qui n'ont pas été confirmés dans les 48h après leur création.
				</p>
			</div>
			
			<div class="margin-bottom padding-top">
				<h4>J'ai oublié mon mot de passe</h4>
				<p class="text-justify">
					Si jamais cela se produit, vous pouvez cliquer sur le lien "Oubli de mot de passe" présent dans le formulaire de connexion. Un lien vous sera envoyé par email et vous permettra de définir un nouveau mot de passe.
				</p>
			</div>
			
			<div class="margin-bottom padding-top">
				<h4>Pourquoi dois-je indiquer mon adresse email et mon numéro de téléphone ?</h4>
				<p class="text-justify">
					Afin que l’organisation d’activité se déroule dans les meilleures conditions nous avons besoin de ces informations pour que les participants à vos activités puissent vous joindre en cas de problème (annulation de dernière minute, retard, …). Ces informations ne sont transmises qu’aux participants de vos activités et sont indisponibles pour tous les autres utilisateurs.
					De plus, les participants vous feront plus confiance si vous remplissez ces informations, ce qui vous aidera à organiser des activités à succès.
				</p>
			</div>

			<div class="margin-bottom padding-top">
				<h4>Pourquoi dois-je indiquer mon adresse ?</h4>
				<p class="text-justify">
					Votre adresse est facultative mais vous offrira une meilleure expérience sur Ottercamp. Grâce à celle-ci vous pourrez organiser rapidement des activités à votre domicile, ou en rechercher proche de celui-ci en un rien de temps.
				</p>
			</div>
		</div>
		
		<hr />
		
		<div id="organizer">
			<h3>Organisateur</h3>
			
			<div class="margin-bottom padding-top">
				<h4>Puis-je refuser des participants ?</h4>
				<p class="text-justify">
					Vous avez tout à fait le droit de refuser qui vous voulez si cette personne vous apparaît peu fiable. Lorsqu’une personne souhaite participer à une de vos activités, il vous faudra à chaque fois l’approuver sans quoi elle n’aura pas accès aux données confidentielles de votre évènement telle que l’adresse exacte ou vos coordonnées.
				</p>
			</div>
			
			<div class="margin-bottom padding-top">
				<h4>Comment et à quel moment suis-je payé ?</h4>
				<p class="text-justify">
					Lorsque vous organisez une activité et décidez de la rendre payante, nous vous demandons de nous indiquer votre Relevé d’Identité Bancaire (RIB). Grâce à celui-ci, dès que votre activité est terminée, nous pouvons effectuer un virement sur votre compte bancaire.
				</p>
			</div>

			<div class="margin-bottom padding-top">
				<h4>Suis-je payé si un participant ne vient pas à une activité payante ?</h4>
				<p class="text-justify">
					Si cette personne n’a pas annulé sa participation dans les 48h précédant l’évènement, vous serez payé.
				</p>
			</div>
			
			<div class="margin-bottom padding-top">
				<h4>Pourquoi les participations à mes activités payantes sont-elles fermées 48h avant ?</h4>
				<p class="text-justify">
					Dans certains cas, lorsque votre évènement est payant et que vous avez défini un nombre de places limitées pour votre activité, nous fermons les participations pour que vous ayez le temps de faire les courses nécessaires au bon déroulement. Nous ne voulons pas que vous vous retrouviez avec des participations de dernière minute qui remettent en cause toute votre organisation.
				</p>
			</div>
			
			<div class="margin-bottom padding-top">
				<h4>Pourquoi mon activité s'annule t'elle toute seule ?</h4>
				<p class="text-justify">
					Dans certains cas, lorsque votre évènement est payant et que vous avez défini un nombre de places limitées pour votre activité, nous annulons votre évènement 48h avant si le nombre de participations minimum n'a pas été atteint. Cela dans le but de vous éviter de dépenser de l'argent pour une activité qui n'aura pas lieu.
				</p>
			</div>
			
			<div class="margin-bottom padding-top">
				<h4>Mon activitée a été archivée, qu'est ce que c'est ?</h4>
				<p class="text-justify">
					Lorsque tout se passe bien, nous archivons automatiquement vos évènements. Cela signifie simplement que celui-ci est terminé, et que plus personne ne pourra le rejoindre. Il n'apparaitra plus non plus dans les résultats de la recherche.
				</p>
			</div>
		</div>
		
		<hr />
		
		<div id="participant">
			<h3>Participant</h3>

			<div class="margin-bottom padding-top">
				<h4>Suis-je remboursé si j’annule ma participation à une activité payante ?</h4>
				<p class="text-justify">
					Si vous pensez à annuler votre participation plus de 48h à l’avance vous serez remboursé intégralement à l’exception de notre commission.
				</p>
			</div>

			<div class="margin-bottom padding-top">
				<h4>Suis-je remboursé si l’organisateur annule son activité ?</h4>
				<p class="text-justify">
					Oui, vous serez remboursé intégralement à l’exception de notre commission.
				</p>
			</div>
			
			<div class="margin-bottom padding-top">
				<h4>Pourquoi n’ai-je que 24h pour payer mes participations ?</h4>
				<p class="text-justify">
					Dans certains cas, lorsqu’un évènement est payant et que l’organisateur a défini un nombre de places limitées pour son activité, nous ne pouvons réserver votre place indéfiniment. Cela empêche une autre personne de participer et pourrait conduire au non déroulement de l’activité si vous tardiez trop.
				</p>
			</div>
		</div>
		
		<hr />
		
		<div id="security">
			<h3>Sécurité</h3>
			
			<div class="margin-bottom padding-top">
				<h4>Le système de paiement est-il sécurisé ?</h4>
				<p class="text-justify">
					Oui, il est extrêmement sécurisé. Nous ne gérons pas les paiements nous même, car pour vous offrir un maximum de sécurité nous avons choisi de déléguer cette tâche à l’entreprise Leetchi, une spécialiste du domaine.
				</p>
			</div>
			
			<div class="margin-bottom padding-top">
				<h4>Comment Ottercamp me protège t’il ?</h4>
				<p class="text-justify">
					Que vous soyez un organisateur ou un participant, nous faisons notre maximum pour votre sécurité. Chacune de vos informations personnelles est protégée :
					<ul>
						<li>
							Votre adresse email n’est transmise qu’aux participants de vos activités
						</li>
						<li>
							Votre numéro de téléphone n’est transmis qu’aux participants de vos activités
						</li>
						<li>
							Votre adresse n’est transmise qu’aux participants de vos activités si celles-ci se déroulent à votre domicile
						</li>
						<li>
							Votre nom de famille n’est jamais transmis
						</li>
					</ul>
					De plus chaque utilisateur se voit attribuer une note de confiance appelée “karma”. Cette note est générée en fonction du nombre d’évènements annulés par l’utilisateur, ainsi que par un questionnaire rempli par tous les autres utilisateurs l’ayant rencontré.
				</p>
			</div>
		</div>
	</div>
</div>