<ul class="nav nav-list block">
  	<li class="nav-header header padding">{{'label_navigation'|trad}}</li>
  	
 	<li><a href="#/about">Ottercamp</a></li>
 	<li><a href="#/about/press">{{'label_press'|trad}}</a></li>
	<li><a href="#/about/team">{{'label_team'|trad}}</a></li>
	<li><a href="#/about/policies">{{'label_policies'|trad}}</a></li>
	<li><a href="#/about/privacy">{{'label_privacy'|trad}}</a></li>
	<li><a href="#/about/help">{{'label_help'|trad}}</a></li>
	<li><a href="#/about/contact">{{'label_contact'|trad}}</a></li>
	<li><a href="#/about/credits">{{'label_credits'|trad}}</a></li>
</ul>