<div class="tabbable">
	<div class="padding">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#perso" data-toggle="tab">Ottercamp pour les particuliers</a>
			</li>
			<li>
				<a href="#pro" data-toggle="tab">Ottercamp pour les professionnels</a>
			</li>
		</ul>
	</div>
	
	<div class="tab-content">
		<div class="tab-pane active" id="perso">
			<div class="padding">
				<div class="row-fluid">
					<div class="span4 alert alert-info row-fluid" style="line-height:normal;">
						<div class="span4">
							<i class="pull-right" style="color:#d2556c; font-size: 150px;">5</i>
						</div>
		
						<div class="span8" style="color:#666; font-size:25px; font-style:italic;">
							millions de personnes veulent faire de nouvelles rencontres
						</div>
					</div>
		
					<div class="span4 alert alert-info row-fluid" style="line-height:normal;">
						<div class="span4">
							<i class="pull-right" style="color:#d2556c; font-size: 150px;">6</i>
						</div>
		
						<div class="span8" style="color:#666; font-size:25px; font-style:italic;">
							millions de personnes vont déménager cette année
						</div>
					</div>
		
					<div class="span4 alert alert-info row-fluid" style="line-height:normal;">
						<div class="span6">
							<i class="pull-right" style="color:#d2556c; font-size: 150px;">20</i>
						</div>
		
						<div class="span6" style="color:#666; font-size:25px; font-style:italic;">
							millions de personnes ne partiront pas en vacances cette année
						</div>
					</div>
				</div>
			</div>
			
			<div class="padding" style="background-color:#EDEDED; padding-top: 50px; padding-bottom: 50px;">
				<div class="text-justify" style="font-size:30px; color:#666; line-height:normal;">
					Vous voulez <b>sortir</b> ? Faire de <b>nouvelles rencontres</b> ? Participer à des <b>activités incroyables</b> ?  Ottercamp est une plateforme sociale qui vous permet de trouver ou d'organiser des activités à faire avec des personnes proches de chez vous.
				</div>
			</div>
			
			<div class="padding" style="padding-top: 50px; padding-bottom: 50px;">
				<div class="row-fluid">
					<div class="span4">
						<i class="icon-map-marker icon-large pull-right" style="color:#d2556c; font-size: 150px;"></i>
					</div>

					<div class="span8" style="line-height:normal;">
						<div style="color:#7dc7cb; font-size:75px;">
							Découvrez
						</div>
						<div style="color:#666; font-size:35px;">
							des activités proches de chez vous
						</div>
					</div>
				</div>
	
				<div class="row-fluid" style="margin-top:50px;">
					<div class="span6 row-fluid">
						<div class="span4">
							<i class="icon-group icon-large pull-right" style="color:#d2556c; font-size: 150px;"></i>
						</div>
	
						<div class="span8" style="line-height:normal;">
							<div style="color:#7dc7cb; font-size:75px;">
								Participez
							</div>
							<div style="color:#666; font-size:35px;">
								à celles qui vous conviennent
							</div>
						</div>
					</div>
	
					<div class="span6 row-fluid">
						<div class="span4">
							<i class="icon-calendar pull-right" style="color:#d2556c; font-size: 150px;"></i>
						</div>
	
						<div class="span8" style="line-height:normal;">
							<div style="color:#7dc7cb; font-size:75px;">
								Organisez
							</div>
							<div style="color:#666; font-size:35px;">
								les activités qui vous passionnent
							</div>
						</div>
					</div>
				</div>
	
				<div class="row-fluid" style="margin-top:50px;">
					<div class="span4">
						<i class="icon-comments-alt icon-large pull-right" style="color:#d2556c; font-size: 150px;"></i>
					</div>
	
					<div class="span8" style="line-height:normal;">
						<div style="color:#7dc7cb; font-size:75px;">
							Contactez
						</div>
						<div style="color:#666; font-size:35px;">
							les autres participants pour faire leur connaissance
						</div>
					</div>
				</div>
	
				<div class="row-fluid" style="margin-top:50px;">
					<div class="span4">
						<i class="icon-thumbs-up icon-large pull-right" style="color:#d2556c; font-size: 150px;"></i>
					</div>
	
					<div class="span8" style="line-height:normal;">
						<div style="color:#7dc7cb; font-size:75px;">
							Amusez-vous
						</div>
						<div style="color:#666; font-size:35px;">
							avec vos nouveaux amis au cours d'activités passionnantes
						</div>
					</div>
				</div>
	
				<div class="row-fluid" style="margin-top:50px;">
					<div class="span4">
						<i class="icon-camera-retro icon-large pull-right" style="color:#d2556c; font-size: 150px;"></i>
					</div>
	
					<div class="span8" style="line-height:normal;">
						<div style="color:#7dc7cb; font-size:75px;">
							Revivez l'instant
						</div>
						<div style="color:#666; font-size:35px;">
							en partageant vos photos et commentaires
						</div>
					</div>
				</div>
			</div>
			
			<div class="padding" style="background-color:#EDEDED; padding-top: 50px; padding-bottom:50px;">
				<div class="row-fluid">
					<div class="span6 row-fluid">
						<div class="span2">
							<img src="assets/images/frodon.jpg" />
						</div>
						
						<div class="span10">
							<blockquote>
							  <p style="font-size: 25px; font-style:italic;" class="text-justify">"Grâce à Ottercamp je me suis fait 8 nouveaux amis et j'ai enfin pu organiser la randonnée dont j'ai toujours rêvé."</p>
							  <small>Frodon Sacquet</small>
							</blockquote>
						</div>
					</div>
					
					<div class="span6 row-fluid">
						<div class="span2">
							<img src="assets/images/dude.jpg" />
						</div>
						
						<div class="span10">
							<blockquote>
							  <p style="font-size: 25px; font-style:italic;" class="text-justify">"Au début je cherchais surtout à rencontrer des partenaires pour jouer au bowling, mais petit à petit je me suis ouvert à de nouveaux horizons et je ne le regrette pas."</p>
							  <small>Jeffrey Lebowski</small>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
			
			<div class="marketing panel" ng-hide="user" style="padding-top:50px; padding-bottom:50px;">			
				<div class="margin-bottom">
					<a fade="" href="register" class="btn btn-info btn-large">Inscrivez-vous dès maintenant</a>
				</div>
		
				<p class="marketing-byline">
					Et rejoignez vos amis qui ont déja franchi le pas
				</p>
		
				<div class="fb-facepile" data-href="http://facebook.com/ottercamp" data-app-id="125408324323674" data-max-rows="1" data-size="large" data-width="1170"></div>
			</div>
		</div>
		
		
		
		
		
		
		
		
		
		
		<div class="tab-pane" id="pro">
			<!--<div class="padding">
				<div class="row-fluid">
					<div class="span4 alert alert-info row-fluid" style="line-height:normal;">
						<div class="span4">
							<i class="pull-right" style="color:#d2556c; font-size: 150px;">5</i>
						</div>
		
						<div class="span8" style="color:#666; font-size:25px; font-style:italic;">
							millions de personnes veulent faire de nouvelles rencontres
						</div>
					</div>
		
					<div class="span4 alert alert-info row-fluid" style="line-height:normal;">
						<div class="span4">
							<i class="pull-right" style="color:#d2556c; font-size: 150px;">6</i>
						</div>
		
						<div class="span8" style="color:#666; font-size:25px; font-style:italic;">
							millions de personnes vont déménager cette année
						</div>
					</div>
		
					<div class="span4 alert alert-info row-fluid" style="line-height:normal;">
						<div class="span6">
							<i class="pull-right" style="color:#d2556c; font-size: 150px;">20</i>
						</div>
		
						<div class="span6" style="color:#666; font-size:25px; font-style:italic;">
							millions de personnes ne partiront pas en vacances cette année
						</div>
					</div>
				</div>
			</div>-->
			
			<div class="padding" style="background-color:#EDEDED; padding-top: 50px; padding-bottom: 50px;">
				<div class="text-justify" style="font-size:30px; color:#666; line-height:normal;">
					Vous voulez vous faire <b>connaître</b> ? <b>Organiser des évènements</b> ? <b>Rencontrer votre communauté</b> ? Ottercamp est une plateforme sociale qui vous permet d'organiser des évènements et de les référencer afin que des utilisateurs puissent s'y inscrire.
				</div>
			</div>
			
			<div class="padding" style="padding-top: 50px; padding-bottom: 50px;">
				<div class="row-fluid">
					<div class="span4">
						<i class="icon-sitemap icon-large pull-right" style="color:#d2556c; font-size: 150px;"></i>
					</div>

					<div class="span8" style="line-height:normal;">
						<div style="color:#7dc7cb; font-size:75px;">
							Référencez
						</div>
						<div style="color:#666; font-size:35px;">
							votre entreprise sur notre plateforme
						</div>
					</div>
				</div>
				
				<div class="row-fluid" style="margin-top:50px;">
					<div class="span4">
						<i class="icon-calendar icon-large pull-right" style="color:#d2556c; font-size: 150px;"></i>
					</div>
	
					<div class="span8" style="line-height:normal;">
						<div style="color:#7dc7cb; font-size:75px;">
							Organisez
						</div>
						<div style="color:#666; font-size:35px;">
							vos évènements et activités
						</div>
					</div>
				</div>
				
				<div class="row-fluid" style="margin-top:50px;">
					<div class="span4">
						<i class="icon-facebook-sign icon-large pull-right" style="color:#d2556c; font-size: 150px;"></i>
					</div>
	
					<div class="span8" style="line-height:normal;">
						<div style="color:#7dc7cb; font-size:75px;">
							Promouvez
						</div>
						<div style="color:#666; font-size:35px;">
							votre entreprise et vos évènements sur les différents réseaux sociaux
						</div>
					</div>
				</div>
				
				<div class="row-fluid" style="margin-top:50px;">
					<div class="span4">
						<i class="icon-cogs icon-large pull-right" style="color:#d2556c; font-size: 150px;"></i>
					</div>

					<div class="span8" style="line-height:normal;">
						<div style="color:#7dc7cb; font-size:75px;">
							Administrez
						</div>
						<div style="color:#666; font-size:35px;">
							les personnes qui souhaitent participer
						</div>
					</div>
				</div>
				
				<div class="row-fluid" style="margin-top:50px;">
					<div class="span4">
						<i class="icon-credit-card pull-right" style="color:#d2556c; font-size: 150px;"></i>
					</div>

					<div class="span8" style="line-height:normal;">
						<div style="color:#7dc7cb; font-size:75px;">
							Récoltez
						</div>
						<div style="color:#666; font-size:35px;">
							leurs contributions financières pour participer
						</div>
					</div>
				</div>
				
				<div class="padding text-center" style="margin-top:50px; font-size: 25px; padding-top: 50px; padding-bottom: 50px; background-color:#EDEDED;">
					Et pour les entreprises, sites et blogs qui ont une forte communauté d'utilisateurs
				</div>
				
				<div class="row-fluid" style="margin-top:50px;">
					<div class="span4">
						<i class="icon-bookmark icon-large pull-right" style="color:#d2556c; font-size: 150px;"></i>
					</div>
	
					<div class="span8" style="line-height:normal;">
						<div style="color:#7dc7cb; font-size:75px;">
							Intégrez notre widget
						</div>
						<div style="color:#666; font-size:35px;">
							sur votre site pour promouvoir votre entreprise et vos évènements
						</div>
					</div>
				</div>
				
				<div class="row-fluid" style="margin-top:50px;">
					<div class="span4">
						<i class="icon-group icon-large pull-right" style="color:#d2556c; font-size: 150px;"></i>
					</div>
	
					<div class="span8" style="line-height:normal;">
						<div style="color:#7dc7cb; font-size:75px;">
							Laissez vos utilisateurs
						</div>
						<div style="color:#666; font-size:35px;">
							organiser des activités entre eux pour se rencontrer
						</div>
					</div>
				</div>
			</div>
			
			<div class="marketing panel" ng-hide="user" style="background-color:#EDEDED; padding-top:50px; padding-bottom:50px;">			
				<div class="margin-bottom">
					<a fade="" href="register" class="btn btn-info btn-large">Inscrivez-vous dès maintenant</a>
				</div>
		
				<p class="marketing-byline">
					Et proposez vos évènements à notre base d'utilisateurs
				</p>
		
				<div class="fb-facepile" data-href="http://facebook.com/ottercamp" data-app-id="125408324323674" data-max-rows="1" data-size="large" data-width="1170"></div>
			</div>
		</div>
	</div>
</div>