<div class="span9 block margin-top">
	<div class="header nav-header padding">{{'label_press'|trad}}</div>
	
	<div class="padding margin-top">
		<p>
			Ottercamp est une plateforme sociale qui vous permet d'organiser et de trouver des activités à réaliser avec des personnes proches de chez vous. Ces activités peuvent se dérouler dans des espaces privés, tel que l'appartement d'un hôte pour un repas, ou dans des espaces publics comme une salle de sport pour une partie de badminton. <br />
		</p>
		
		<hr />
		
		<!--<div class="margin-top margin-bottom">
			<h4>Communiqués de presse</h4>
			
			<div class="margin-top">
				<div class="row-fluid">
					<div class="span2">
						25 juin 2013
					</div>
					<div class="span10">
						<a href="">Ottercamp lance son service pour favoriser la rencontre entre particuliers autour d’activités géolocalisées.</a>
					</div>
				</div>
			</div>
		</div>
		
		<hr />-->
		
		<div class="margin-top margin-bottom">
			<h4>Articles de presse / blogs</h4>
						
			<div class="margin-top">
				<div class="row-fluid">
					<div class="span2">
						12 juin 2013
					</div>
					<div class="span10">
						<a href="http://lentreprise.lexpress.fr/creation-entreprise/start-in-lyon-14-start-up-qui-ont-de-l-avenir_41424.html?p=9#content" target="_blank">Article de Lexpress.fr : Start in Lyon: 14 start-up qui ont de l'avenir</a>
					</div>
				</div>
			</div>
		</div>
		
		<hr />
		
		<div class="margin-top margin-bottom">
			<h4>Ressources</h4>
			
			<div class="row-fluid">
				<div class="row-fluid span4">
					<div class="span7">
						<img src="assets/images/logo-150.png" />
					</div>
					
					<div class="span5">
						<div><a href="assets/images/logo-150.png" target="_blank">Petit format</a> <small>(150*150)</small></div>
						<div><a href="assets/images/logo-300.png" target="_blank">Grand format</a> <small>(300*300)</small></div>
					</div>
				</div>
				
				<div class="row-fluid span4">
					<div class="span7">
						<img src="assets/images/full-150.png" />
					</div>
					
					<div class="span5">
						<div><a href="assets/images/full-150.png" target="_blank">Petit format</a> <small>(394*150)</small></div>
						<div><a href="assets/images/full-300.png" target="_blank">Grand format</a> <small>(788*300)</small></div>
					</div>
				</div>				
						
				<div class="row-fluid span4">
					<div class="span7">
						<img src="assets/images/typo-150.png" />
					</div>
					
					<div class="span5">
						<div><a href="assets/images/typo-150.png" target="_blank">Petit format</a> <small>(478*150)</small></div>
						<div><a href="assets/images/typo-300.png" target="_blank">Grand format</a> <small>(957*300)</small></div>
					</div>
				</div>
			</div>
		</div>
		
		<hr />
		
		<!--<div class="margin-top margin-bottom">
			<h4>Captures d'écran</h4>
			
			
		</div>
		
		<hr />-->
		
		<div>
			<h4>Pour plus d'informations, contactez-nous !</h4>
			
			<div class="margin-top row-fluid">
				<div class="span2">
					<img src="assets/images/adrien.jpg" />
				</div>
				<div class="span10">
					<div><b>Nom :</b> Adrien Blandin</div>
					<div><b>Adresse email :</b> press (at) ottercamp (dot) com</div>
				</div>
			</div>
		</div>
	</div>
</div>