<div class="span9 block margin-top">
	<div class="header nav-header padding">{{'label_privacy'|trad}}</div>
	
	<div class="padding margin-top text-justify">			
		<p>
			Ottercamp permet d’organiser ou de participer à des activités de proximité avec des personnes proches de chez soi.
		</p>
		
		<div class="alert alert-info">Chaque activité est visible publiquement par tout le monde.</div>
		
		<p>
			Cette politique de vie privée décrit les conditions dans lesquelles Ottercamp, collecte et utilise vos informations lorsque vous utilisez nos services. Ottercamp reçoit vos informations à travers notre site web, notre API et les notifications par email.
			<br />
			Quand vous utilisez un de nos services, vous consentez à ce que nous collections, transférions, manipulions, conservions et procédions aux traitements de vos informations conformément aux disposition de la présente Politique de Confidentialité.
			<br />
			Si vous avez des questions ou commentaires concernant la présente Politique de Confidentialité, n’hésitez pas à nous contacter à <a href="mailto:contact@ottercamp.com" target="_blank">contact@ottercamp.com</a> ou <a href="#/about/contact" target="_blank">ici</a>.
		</p>
		
		<div class="padding-top margin-bottom">
			<h3>Collecte et utilisation des informations</h3>
			
			<div class="alert alert-info">Nous collectons et utilisons vos informations afin de vous fournir le service le plus adéquat à vos besoins.</div>
			
			<div class="margin-bottom">
				<h4>Informations collectées au moment de l'inscription</h4>
				
				<p>
					Lorsque vous créez un compte Ottercamp, vous nous fournissez des informations personnelles telles que votre prénom, votre nom, votre nom d’utilisateur et votre adresse email. Certaines de ces informations, par exemple votre prénom et votre nom d’utilisateur, sont visibles publiquement sur nos services.
					<br />
					Votre adresse email ainsi que votre nom de famille seront masqués pour la majorité des utilisateurs. Cependant lorsque vous organiser une activité, ces informations seront visibles par les participants de celle-ci afin qu’ils puissent vous contacter en cas de problème.
				</p>
			</div>
			
			<div class="padding-top margin-bottom">
				<h4>Informations supplémentaires</h4>
				<p>
					Vous pouvez si vous le désirer, nous fournir des informations complémentaires afin d'enrichir votre profil comme une biographie ou votre photo de profil. Ces informations seront visibles publiquement.
					Vous pouvez aussi si vous le désirer renseigner votre adresse postale ou votre numéro de téléphone afin de compléter votre compte. Votre adresse permettra d’améliorer votre expérience sur Ottercamp, mais seule la ville sera affichée publiquement. Votre numéro de téléphone, s’il est renseigné sera indiqué aux participants de vos activités afin qu’ils puissent vous contacter en cas de problème.
					<br /> <br />
					Si vous souhaitez organiser des activités, vous devrez indiquer votre tranche d’âge. Cette information publique nous permettra d’améliorer votre expérience sur Ottercamp en favorisant la mise en relation avec d’autres personnes d’âge similaire.
					<br /> <br />
					Pour mettre à jour vos paramètres, vous pouvez vous rendre sur <a href="#/settings" target="_blank">http://ottercamp.com/#/settings</a>.
					<br /> <br />
					Si vous nous adressez un courrier électronique, nous pourrons garder votre message, l'adresse de courrier électronique et les informations pour vous contacter pour répondre à votre demande. Si vous connectez votre compte Ottercamp à un compte d'un autre service, cet autre service pourra nous adresser les informations vous concernant relatives à votre profil et votre enregistrement à ce service ainsi que d'autres informations que vous avez autorisées. Ces informations nous aident à améliorer nos servicess et sont effacées d’Ottercamp quelques semaines après que vous ayez déconnecté votre compte Ottercamp du service tiers.
				</p>
			</div>
			
			<div class="padding-top margin-bottom">
				<h4>Information sur la localisation</h4>
				<p>
					Pour améliorer la qualité de nos services et vous présenter des activités géographiquement pertinentes pour vous, nous pouvons utiliser votre localisation. Celle-ci est désactivée par défaut, mais vous pouvez configurer votre ordinateur ou votre équipement mobile pour nous envoyer ces informations. Nous pouvons utiliser et conserver ces informations pour améliorer nos services et se souvenir de vos préférences géographiques.
				</p>
			</div>
			
			<div class="padding-top margin-bottom">
				<h4>Liens</h4>
				<p>
					Ottercamp pourra suivre et conserver la façon dont vous interagissez avec les liens dans nos services, incluant nos notifications par courrier électronique, les services de tiers et les applications clientes, en redirigeant les clics ou par d'autres moyens. Nous faisons cela afin d'améliorer nos services et obtenir des statistiques agrégées sur les clics comme par exemple afin de déterminer combien de fois il a été cliqué sur un lien.
				</p>
			</div>
			
			<div class="padding-top margin-bottom">
				<h4>Cookies</h4>
				<p>
					Comme beaucoup d'autres sites web, nous utilisons la technologie des "cookies" pour améliorer votre expérience sur notre site web. Mais les cookies ne sont pas obligatoires pour de nombreuses parties de nos services.
					<br />
					Un cookie est un petit fichier texte qui est transféré sur le disque dur de votre ordinateur. La plupart des navigateurs Internet acceptent automatiquement les cookies. Vous pouvez configurer votre navigateur, en modifiant ses paramètres, pour arrêter d'accepter les cookies ou vous interroger avant d'accepter un cookie des sites que vous visitez. Néanmoins, certains services pourront ne pas fonctionner correctement si vous désactivez/refusez les cookies.
				</p>
			</div>
			
			<div class="padding-top margin-bottom">
				<h4>Données de Log</h4>
				<p>
					Nos serveurs enregistrent automatiquement des informations (Données de Log) créées par votre utilisation de nos services. Les Données de Log peuvent contenir des informations telles que votre adresse IP, le type de votre navigateur, votre système d'exploitation, la page web dont vous venez, les pages visitées, votre localisation, votre opérateur téléphonique, votre équipement et l’identification de l'application, les termes de vos recherches et des informations sur les cookies. Nous enregistrons des Données de Log quand vous interagissez avec nos services, par exemple, quand vous visitez nos sites web, vous vous authentifiez sur nos Services, interagissez avec nos notifications par courrier électronique, utilisez votre compte Ottercamp pour vous authentifier sur le site ou une application d'un tiers. Ottercamp utilise les Données de Log pour fournir les services et les mesurer, les personnaliser et les améliorer.
				</p>
			</div>
			
			<div class="padding-top margin-bottom">
				<h4>Prestataires de service tiers</h4>
				<p>
					Ottercamp utilise les services de prestataires tiers variés pour l'aider à fournir les services, comme l'hébergement de notre site web ou de notre API et nous aider à comprendre l'utilisation qui est faîte de nos services, comme Google Analytics. Ces prestataires de service tiers peuvent collecter des informations envoyées par votre navigateur parmi la requête d'une page web, comme les cookies et votre adresse IP.
				</p>
			</div>
		</div>
		
		<div class="padding-top margin-bottom">
			<h3>Collecte et utilisation des informations</h3>
			
			<div class="alert alert-info">Nous ne divulguons pas vos données qui sont personnelles et privées sauf dans les circonstances limitées qui sont énumérées ici.</div>
			
			<div class="margin-bottom">
				<h4>Votre consentement</h4>
				<p>
					Nous pouvons partager ou divulguer vos informations suivant vos instructions, comme par exemple quand vous autorisez un site web ou une application tierce à accéder à votre compte Ottercamp.
				</p>
			</div>
			
			<div class="padding-top margin-bottom">
				<h4>Prestataires de service</h4>
				<p>
					Nous engageons des prestataires de services aux Etats-Unis d'Amérique, en France et ailleurs pour nous fournir des services et exécuter certaines fonctions. Nous pouvons partager vos données personnelles et privées avec ces prestataires de service dès lors qu'ils sont soumis à des obligations de confidentialité qui sont cohérentes avec cette déclaration de vie privée et à la condition que ces tierces parties utilisent vos données personnelles et privées pour notre compte et suivant nos instructions.
				</p>
			</div>
			
			<div class="padding-top margin-bottom">
				<h4>Loi et préjudice</h4>
				<p>
					Nonobstant toute disposition contraire dans la présente Politique de Confidentialité, nous pourrons conserver ou divulguer vos informations si nous croyons que cela est raisonnablement nécessaire pour se conformer à une loi, une réglementation ou à des demandes juridiques/judiciaires ; pour protéger la sécurité d'une personne, pour réagir à des fraudes ou des problèmes de sécurité ou techniques ; ou pour protéger les droits et la propriété d’Ottercamp. Néanmoins rien dans cette Politique de Confidentialité n'a pour intention de limiter toutes défenses ou objections que vous pourriez avoir à l'encontre d'une tierce partie, incluant une requête du gouvernement afin de divulguer vos informations.
				</p>
			</div>
			
			<div class="padding-top margin-bottom">
				<h4>Transfert d'activités</h4>
				<p>
					Dans le cas où Ottercamp ferait l'objet d'une banqueroute ou serait impliquée dans une fusion, une acquisition, une réorganisation ou vente de ses actifs, vos informations pourraient être vendues ou transférées dans le cadre de cette opération. Les obligations prévues dans la présente Politique de Confidentialité s'appliqueront à vos informations transférées à la nouvelle entité.
				</p>
			</div>
			
			<div class="padding-top margin-bottom">
				<h4>Données non privées et/ou non personnelles</h4>
				<p>
					Nous pouvons partager et divulguer vos données qui ne sont pas privées ou qui sont rendues autrement anonymes, telles que les informations de votre profil public.
				</p>
			</div>
		</div>
		
		<div class="padding-top margin-bottom">
			<h3>Modifier vos données personnelles</h3>
			<p>
				Si vous êtes un utilisateur qui a souscrit à nos services, nous vous fournissons les outils et les paramétrages de compte pour accéder ou modifier les informations personnelles que vous nous avez fournies et qui sont associées à votre compte.
			</p>
		</div>
		
		<div class="padding-top margin-bottom">
			<h3>Notre politique à l'égard des enfants</h3>
			<p>
				Nos services ne s'adressent pas à des personnes âgées de moins de 18 ans. Si vous apprenez que votre enfant nous a fourni des informations personnelles sans votre consentement, merci de nous contacter à <a href="mailto:contact@ottercamp.com" target="_blank">contact@ottercamp.com</a>. Nous ne collectons pas, en connaissance, d'informations personnelles sur des personnes de moins de 18 ans. Si nous apprenons qu'un enfant de moins de 18 ans nous a fourni des informations personnelles, nous prenons des mesures pour supprimer ces informations et résilions le compte de cet enfant.
			</p>
		</div>
		
		<div class="padding-top margin-bottom">
			<h3>Modification de cette Politique de Confidentialité</h3>
			<p>
				Nous pouvons modifier cette Politique de Confidentialité à tout moment. La version la plus actuelle de cette politique régit notre utilisation de vos informations et se trouvera toujours à l'adresse <a href="#/about/privacy">http://ottercamp.com/#/about/privacy</a>. Si nous faisons une modification à cette politique qui, à notre seule discrétion, est substantielle, nous vous le notifierons via un courrier électronique à l'adresse associée avec votre compte. En continuant d'accéder ou en utilisant les services après que ces changements soient entrés en vigueur, vous manifestez vous accord à être lié par la Politique de Confidentialité amendée.
			</p>
		</div>
	</div>
</div>