<div class="span9 block margin-top">
	<div class="header nav-header padding">{{'label_team'|trad}}</div>
	
	<div class="padding margin-top">
		<p class="block padding">
			Ottercamp est une plateforme sociale qui vous permet d'organiser et de trouver des activités à réaliser avec des personnes proches de chez vous. Ces activités peuvent se dérouler dans des espaces privés, tel que l'appartement d'un hôte pour un repas, ou dans des espaces publics comme une salle de sport pour une partie de badminton. <br />
			<br />
			La société Ottercamp a été créée en 2013 par Adrien Blandin et Gabriel Kielwasser, deux étudiants de l'EPSI Lyon.
		</p>
		
		<div>
			<div class="pull-left">
				<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fottercamp&amp;width=292&amp;height=62&amp;show_faces=false&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false&amp;appId=125408324323674" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe>
			</div>
			
			<div class="pull-left">
				<a href="http://twitter.com/ottercamp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ottercamp</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
			
			<span class="clear"></span>
		</div>
		
		<hr />
		
		<ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
              <img style="width: 200px; height: 200px;" src="assets/images/adrien.jpg" />
              
              <div class="caption text-center">
                <h3>Adrien Blandin</h3>
                <p>Fondateur, développeur</p>
                
                <p>
                	<a href="http://twitter.com/sergentrif" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @sergentrif</a>
                </p>
              </div>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <img style="width: 200px; height: 200px;" src="assets/images/gabriel.jpg" />
              
              <div class="caption text-center">
                <h3>Gabriel Kielwasser</h3>
                <p>Fondateur, développeur</p>
                
                <p>
                	<a href="http://twitter.com/gkielwasser" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @gkielwasser</a>
                </p>
              </div>
            </div>
          </li>
        </ul>
	</div>
</div>