<ul class="nav nav-list block">
	<li class="nav-header header padding">{{'label_navigation'|trad}}</li>
  	<li class="nav-header">{{'label_general'|trad}}</li>
 	<li><a href="#/settings">{{'label_profile'|trad}}</a></li>
	<li><a href="#/settings/hobbies">{{'label_hobbies'|trad}}</a></li>
	<li><a href="#/settings/talents">{{'label_talents'|trad}}</a></li>

	<li class="nav-header">{{'label_privacy'|trad}}</li>
	<li><a href="#/settings/password">{{'label_password'|trad}}</a></li>
	<!--
	<li><a href="">{{'settings_button_socials_network'|trad}}</a></li>								
	<li><a href="">{{'settings_button_applications'|trad}}</a></li>
	<li><a href="notifications">{{'label_notifications'|trad}}</a></li>-->
</ul>