<div id="communities" ng-init="initCommunities()">
	<div ng-show="communities.length > 0" class="row-fluid">
		<custom ng-repeat="community in communities">
			<custom ng-switch on="$index % 2">
            	<custom ng-switch-when="0">
	                <div class="row-fluid">							    
	                    <div ng-show="communities[$index+0]" class="block span6 margin-top" >
	                    	<card					
								data-format="medium" 
								data-type="organizations" 
								data-resource="communities[$index+0]">
							</card>
	                    </div>
	                    
	                    <div ng-show="communities[$index+1]" class="block span6 margin-top" >
	                    	<card				
								data-format="medium" 
								data-type="organizations" 
								data-resource="communities[$index+1]">
							</card>
	                    </div>
	                </div>
	            </custom>
	        </custom>
		</custom>
	</div>
	
	<div ng-show="!communities || communities.length == 0" class="alert alert-info">
		{{'label_no_communities_information'|trad}}
	</div>
</div>	