<div class="modal-header" >
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	
 	<h3 ng-show="type == 'o'">{{'modal_embed_title_organization'|trad}}</h3>
 	<h3 ng-show="type == 'e'">{{'modal_embed_title_event'|trad}}</h3>
</div>

<div class="modal-body padding">
	
	<div class="alert alert-info" ng-show="type == 'o'">
		{{'modal_embed_content_organization'|trad}}
	</div>
	
	<div class="alert alert-info" ng-show="type == 'e'">
		{{'modal_embed_content_event'|trad}}
	</div>
	
	<div class="row-fluid">
		<textarea ng-model="content" style="resize:none;" class="span12" rows="4"></textarea>
		
		<hr />
		
		<div ng-bind-html-unsafe="content"></div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn" ng-click="dismiss()">{{'label_close'|trad}}</button>
</div>