<div id="{{resource.id}}" class="organization medium">
	<div>
		<div class="padding">
			<div class="row-fluid">
				<div class="span2">
					<a href="#/organizations/{{resource.id}}">
						<img ng-src="{{resource.smallPhoto}}" />
					</a>
				</div>
				
				<div class="span10">
					<a href="#/organizations/{{resource.id}}">{{resource.name}}</a>
					
					<div class="px12">
						<a href="{{resource.website}}" target="_blank">{{resource.website}}</a>
					</div>
					
					<div ng-show="{{resource.address.shortLabel}}">
						<span class="add-on"><i class="icon-map-marker"></i></span>
						<span>{{resource.address.shortLabel}}</span>
					</div>
					
					<div class="px12">
						{{resource.description | noHtmlTags | truncate:140}}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="border-top background">
		<div class="pull-right">
			<custom ng-show="resource.asCommunity">
				<a  class="action padding pull-left hover" 
					follow 
					community="resource"
					tooltip
					data-title="{{label|trad}}"
				><i class="icon-star icon-{{followed}}"></i>
				</a>
			</custom>
			<a class="action padding pull-left hover" href="javascript:;" 
				share 
				description="resource.description" 
				atitle="resource.title"  
				url="Config.webURL + '#/organizations/' + resource.id" 
				tooltip 
				data-title="{{'label_share'|trad}}"
			><i class="icon-share"></i></a>
						
			<span class="clear"></span>
		</div>
		
		<span class="clear"></span>
	</div>
</div>